{% extends 'main/layout.html' %}

{% block title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <h4>Ветеринарная клиника Друг в Минске </h4>
        <p>
Мы проводим выгодные акции, актуальный список акций смотрите на странице Акции и скидки.

Коллектив ветеринарной клиники Друг отличает умение быстро и слаженно выявить проблему Вашего питомца и устранить ее, оставаясь доброжелательными и внимательными к пациенту.

Мы стремимся качественно и на совесть выполнять свою работу, чтобы врачи нашей ветлечебницы стали для Ваших питомцев любимыми докторами-ветеринарами.

В нашей ветклинике каждый сотрудник любит животных и знает, что им нужно. Для нас важно, чтобы Ваши питомцы прожили долгую, счастливую и здоровую жизнь.

В ветеринарной лечебнице Друг Вы получите максимум услуг и полезной информации по минимальным ценам.

            Наша ветеринарная клиника располагается во фрунзенском районе города Минска.</p>
    </div>
{% endblock %}