{% extends 'main/layout.html' %}

{% block content %}
 <a href="{% url 'order_create' %}">Добавить</a>
  <h1>Корзина заказов</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Питомец</th>
        <th>Доктор</th>
        <th>Общая стоимость</th>
        <th colspan="4">Действия с заказом</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.date }}</td>
          <td>{{ order.pet.name }}</td>
          <td>{{ order.doctor.last_name }}</td>
          <td>{{ order.total_cost}}</td>
          <td><a href="{% url 'order_detail' order.id %}">Посмотреть</a></td>
          <td><a href="{% url 'order_update' order.id %}">Изменить </a></td>
          <td><a href="{% url 'order_delete' order.id %}">Удалить</a></td>
          <td>
                {% if order.is_payed %}
                    <span style="color: green;">Оплачено</span>
                {% else %}
                    <a href="{% url 'order_pay' order.id %}">Оплатить</a>
                {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}