{% extends 'main/layout.html' %}

{% block content %}
  <h1>Изменить услуги</h1>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="pet">Животное:</label>
      <select name="pet" id="pet">
        {% for pet in pets %}
          <option value="{{ pet.id }}" {% if pet == order.pet %}selected{% endif %}>{{ pet.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="doctor">Доктор:</label>
      <select name="doctor" id="doctor">
        {% for doctor in doctors %}
          <option value="{{ doctor.id }}" {% if doctor == order.doctor %}selected{% endif %}>{{ doctor.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="date">Дата:</label>
      <input type="date" name="date" id="date" value="{{ order.date|date:'Y-m-d' }}">
    </div>
    <div>
      <label>Услуги:</label>
      {% for service in services %}
        <div>
          <input type="checkbox" name="services" value="{{ service.id }}" {% if service in order.services.all %}checked{% endif %}>
          <label>{{ service.name }} - {{ service.cost }}</label>
        </div>
      {% endfor %}
    </div>
    <button type="submit">Обновить информацию об услуге</button>
  </form>
{% endblock %}