<!-- service_list.html -->
{% extends 'main/layout.html' %}

{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'appointments\css\appointments_list.css' %}">
{% if user.is_staff %}
  <a href="{% url 'service_create' %}">Добавить новую услугу</a>
{% endif %}
<br>
<br>
<h1>Список услуг</h1>

<div class="grid-container">
  {% for service in services %}
  <div class="grid-item">
    <a href="{% url 'service_detail' service.id %}" class="service-link">
      <h2 class="service-name">{{ service.name }}</h2>
      <p class="service-cost">{{ service.cost }} руб.</p>
    </a>
  </div>
  {% endfor %}
</div>
<div id="pagination" class="pagination"></div>
<script src="{% static 'appointments/js/pagination.js'%}"></script>
{% endblock %}