<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Питомцы | Добавление</title>
</head>
<body>
    <h2>Добавление питомца</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>введите имя питомца</label>
            <input type="text" name="name"></input>
        </p>
        <p>
            <label>Введите вид питомца</label>
            <input type="text" name="species">
        </p>
        <p>
            <label>Введите возраст питомца</label>
            <input type="number" name="age">
        </p>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>