
input:out-of-range + label{
    font-size: 25px;
    color: blue;
}

input:enabled + label{
    font-family: "Times new roman";
    font-size: 20px;
}

input.info:required + label {
    text-decoration: underline;
    color: red;
}

textarea:disabled {
    background: radial-gradient(at 100px 50px, red, blue);
}


/* Включенные */
input.male:checked + label {
    background: red;
    color: white;
}
input.female:checked + label {
    background: green;
    color: white;
}
input.other:checked + label {
    background: black;
    color: white;
}