<!-- service_detail.html -->
<h1>Информация об услуге</h1>
<table>
  <tr>
    <th>Название</th>
    <td>{{ service.name }}</td>
  </tr>
  <tr>
    <th>Стоимость</th>
    <td>{{ service.cost }} руб.</td>
  </tr>
  <tr>
    <th>Категория</th>
    <td>{{ service.category.name }}</td>
  </tr>
</table>
{% if user.is_staff %}
<h2>Заказы, в которые входит эта услуга</h2>
<ul>
  {% for order in service.order_set.all %}
  <li>
    <a href="{% url 'order_detail' order.id %}">
      Заказ от {{ order.date }} для клиента {{ order.client.name }}
    </a>
  </li>
  {% empty %}
  <li>Эта услуга пока не входит ни в один заказ.</li>
  {% endfor %}
</ul>

<a href="{% url 'service_update' service.id %}">Изменить</a>
<a href="{% url 'service_delete' service.id %}">Удалить</a>
<a href="{% url 'service_list' %}">Вернуться к списку</a>
{% endif %}