{% extends 'main/layout.html' %}
<title>{% block title %}О компании{% endblock %}</title>
{% block content %}

<form translate="yes" enctype="multipart/form-data">
    <section>
        <div itemscope itemtype="https://schema.org/Recipe">
            <h2 itemprop="name">Все про нашу компанию</h2>
        </div>

    <div id="company-info">
        <h2 accesskey="t" contenteditable="true" spellcheck="true" dir="ltr">О компании</h2>
    </div>
    </section>
    <a href="#n1" contenteditable="true" translate="yes" style="" title="примечание">См.примечание ниже - описание видов домашних животных</a>
    <section>
        <h3 hidden="hidden">Расскажите про покупки</h3>
    <div id="video">
        <h2>Видео</h2>
        <video width="640" height="360" controls preload="none" muted>
            <source itemprop="video" src="static/main/vid/cat.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>
    </section>
    <section title="аудио">
    <div id="audio">
        <h2>Аудио</h2>
        <audio controls>
            <source itemprop="audio" src="static/main/audio/dogCanBeBiter.mp3" type="audio/mpeg">

            Ваш браузер не поддерживает аудио.
        </audio>
    </div>
    </section>
    <section>
    <div id="logo">
        <h2>Логотип</h2>
        <img itemprop="logo" src="static/main/img/logo.png" alt="Логотип компании">
    </div>
    </section>
    <section>
    <article id="history">
        <h2>История по годам</h2>
        <ul itemprop="history">
            <li>2000: Основание компании</li>
            <li>2005: Запуск первого продукта</li>
            <li>2010: Расширение на международные рынки</li>
            <li>2015: Получение наград за качество</li>
            <li>2020: Цифровая трансформация</li>
        </ul>
    </article>
    </section>
    <section>
    <article id="contact-info">
        <h2>Реквизиты</h2>
        <p>Название компании: Пример ООО</p>
        <p>ИНН: 1234567890</p>
        <p>КПП: 123456789</p>
        <p>ОГРН: 1234567890123</p>
        <p>Юридический адрес: г. Москва, ул. Примерная, д. 1</p>
    </article>
    </section>
    <blockquote cite="http://en.wikipedia.org/wiki/Apple">
Домашнее млекопитающее животное из сем., к к-рому относятся также тигр, лев и т. п.
"Кошка истребляет мышей и крыс"</blockquote>

    <section>
    <div id="certificate">
        <fieldset>
            <legend>Сертификат:</legend>
            <h1>Сертификат качества ISO</h1>
    <h2>Ветеринарная клиника DOG&CAT</h2>

    <p>Настоящим подтверждается, что ветеринарная клиника DOG&CAT успешно прошла аудит и соответствует требованиям международного стандарта ISO 9001:2015 в области управления качеством.</p>

    <p><strong>Данный сертификат подтверждает, что:</strong></p>
    <ul>
        <li>Ветеринарная клиника обеспечивает высококачественное медицинское обслуживание животных.</li>
        <li>Все процессы клиники направлены на удовлетворение потребностей клиентов и их питомцев.</li>
        <li>В клинике внедрены современные методы диагностики и лечения, а также системы контроля качества.</li>
        <li>Персонал клиники проходит регулярное обучение и повышение квалификации, что гарантирует высокий уровень профессионализма и заботы о пациентах.</li>
        <li>Клиника соблюдает все необходимые стандарты безопасности и гигиены.</li>
    </ul>

    <p><strong>Выдано:</strong> 18.09.2024</p>
    <p><strong>Срок действия:</strong> 18.09.2025</p>
    <p><strong>Номер сертификата:</strong>24761249301</p>

    <div class="signature">
        <p><strong>Подпись:</strong>
        <img src="static/main/img/signature.png" alt="Подпись" align="center" width="200">
        Власенко И.И.</p>

        </div>
        </fieldset>

        </div>
        </section>
    <section>
    <h3>Листинг кода:</h3>
    <pre>
    <code>class Review(models.Model):
        <var>user</var> = models.ForeignKey(settings.AUTH_USER_MODEL, on_delete=models.CASCADE)
        <var>rating</var> = models.IntegerField()
        <var>text</var> = models.TextField()
        <var>date</var> = models.DateField()</code>
    </pre>

    <h3>Сокращения</h3>
    <abbr title="Современные технологии разработки web-приложений">СТРweb-пр</abbr>
    <br>
    <h3>Определения</h3>
    Интерфейс в C# - это набор <dfn title="Сигнатура состоит из имени метода и его параметров">сигнатур</dfn> методов.
    <h3>Цитаты</h3>
    <q cite="https://metanit.com/sharp/tutorial/17.1.php">По умолчанию все элементы коллекции в <mark>LINQ</mark> обрабатываются последовательно, но начиная с .NET 4.0 в пространство имен System.Linq был добавлен класс ParallelEnumerable, который инкапсулирует функциональность PLINQ (Parallel LINQ) и позволяет выполнять обращения к коллекции в параллельном режиме.</q>
    <blockquote cite="https://ru.wikipedia.org/wiki/%D0%A6%D0%B8%D1%82%D0%B0%D1%82%D0%B0#:~:text=%D0%A6%D0%B8%D1%82%D0%B0%CC%81%D1%82%D0%B0%20(%D0%BE%D1%82%20%D0%BB%D0%B0%D1%82.,%D0%B4%D0%BB%D1%8F%20%D0%BA%D1%80%D0%B8%D1%82%D0%B8%D0%BA%D0%B8%20%D1%81%D0%B0%D0%BC%D0%BE%D0%B9%20%D1%86%D0%B8%D1%82%D0%B8%D1%80%D1%83%D0%B5%D0%BC%D0%BE%D0%B9%20%D0%BC%D1%8B%D1%81%D0%BB%D0%B8.">Цитата</blockquote>
    <h3>Дата и время:</h3>


    <center><h3>Важное стихотворение:</h3>

    <i><font size="5" color="red" face="Arial">Б</font>еспокойно бегал <wbr>по дороге пёсик —<br>
То ли потерялся,<wbr> то ли кто-то бросил.<br>
Бегал и поскуливал<wbr> грустно и отчаянно,<br>
Отыскать пытался он<wbr> своего хозяина.<br>
<br>
Жаль, что не умел он <wbr>всё сказать словами,<br>
Лишь глаза блестели<wbr> пёсьими слезами.<br>
Помогите, люди, тем,<wbr> кто другом брошен.<br>
        Не должно бездомных быть <wbr>ни собак, ни кошек.<br></i></center>



    <p><a id="n1"></a>Далее будут описаны виды:</p>
    <pre>Виды домашних животных и их классификация
Домашние животные — это животные, которые были одомашнены и живут рядом с человеком. Они играют важную роль в жизни людей, выполняя различные функции, от companionship (компаньонов) до помощи в хозяйстве. Классификация домашних животных может быть выполнена по нескольким критериям, включая вид, назначение и поведение.

Основные виды домашних животных</pre>
        <li type="A" >Собаки</li>
        <ul>
            <li>Описание: Собаки — одни из самых популярных домашних животных. Они известны своей преданностью и разнообразием пород, каждая из которых имеет свои характеристики и особенности.</li>
            <li>Классификация: Собаки могут быть классифицированы по размерам (малые, средние и большие), по рабочим качествам (пастушьи, охотничьи, служебные) и по темпераменту (активные, спокойные, защитные).</li>
        </ul>

        <div style="width:100%">
            <picture>
                <source media="(max-width: 1000px)"
                    sizes="(max-width: 500px) 50vw, 10vw"
                    srcset="static/main/img/dog.jpg 1500w">
                 <source media="(max-width: 3500px)"
                    sizes="(max-width: 2500px) 50vw, 10vw"
                    srcset="static/main/img/dog1.jpg 500w">
                <img src="static/main/img/dog2.jpg" alt="собака">
            </picture>
        </div>


        <li type="A" >Кошки</li>
    <figure>
        <figcaption>Кошки - мои любимые животные</figcaption>
        <ul>
            <li>Описание: Кошки — независимые и грациозные животные, которые также являются популярными компаньонами. Они известны своим игривым поведением и охотничьими инстинктами.</li>
            <li>Классификация: Кошки могут быть краткошерстными и длинношерстными, а также по породам (персидские, сиамские, британские).</li>
        </ul>
         <img src="static/main/img/cat.jpg" width="300" alt="Cat">
    </figure>
        <li type="A" >Грызуны</li>
        <ul>
            <li>Описание: Грызуны, такие как хомяки, морские свинки и крысы, становятся все более популярными в качестве домашних животных. Они требуют меньшего ухода по сравнению с собаками и кошками.</li>
            <li>Классификация: Грызуны могут быть разделены на домашних и диких, а также по размерам (маленькие и средние).</li>
        </ul>
        <img src="static/main/img/griz.jpg" width="300" alt="Грызун">
        <li type="A" >Птицы</li>
        <ul>
            <li>Описание: Многие люди держат птиц, таких как попугаи, канарейки и воробьи, в качестве домашних животных. Птицы могут быть очень общительными и способны обучаться.</li>
            <li>Классификация: Птицы могут быть классифицированы по размеру (малые, средние, большие) и по способности к обучению (говорящие и неговорящие).</li>
        </ul>
        <img src="static/main/img/bird.jpg" width="300" alt="Птица">
        <li type="A" >Рептилии</li>
        <ul>
            <li>Описание: Рептилии, такие как ящерицы, змеи и черепахи, становятся все более популярными среди любителей экзотических животных. Они требуют специфических условий содержания.</li>
            <li>Классификация: Рептилии могут быть разделены на ядовитых и неядовитых, а также по среде обитания (сухопутные и водные).</li>
        </ul>
        <img src="static/main/img/reptil.jpg" alt="Рептилия" width="300">

    <br>
    <br>

        <table border="1" summary="Соотношение животных" >
        <caption>Соотношение животных в процентах по месту жительства</caption>
            <thead>
        <tr>

            <th id="category">Категория</th>
            <th id="dogs">Собаки(%)</th>
            <th id="cats">Коты(%)</th>
            <th rowspan="5" id="Pets">Pets</th>
        </tr>
        </thead>
            <tbody>
        <tr>
            <th headers="category">Забирают из приюта</th>
            <td>60</td>
            <td>50</td>
        </tr>
        <tr>
            <th headers="category">Остаются в приюте</th>
            <td>20</td>
            <td>30</td>
        </tr>
        <tr>
            <th headers="category">Живут у волонтеров</th>
            <td colspan="2">15</td>
        </tr>
        <tr>
            <th headers="category">Живут на улицах</th>
            <td colspan="2" >5</td>
        </tr>
            </tbody>
    </table>
    <br>
    <p>Выбрать себе любимца можно, например, на этих сайтах:</p>
        <ul>
    <li>
      <a href="https://superkot.by/" target="fr">Приют для животных Суперкот</a>
    </li>
    <li>
      <a href="https://zooshans.by/" target="fr">Приют для животных ЗООшанс</a>
    </li>
  </ul>
  <iframe name="fr" width="1500" height="500">Old browser</iframe>
</section>
</form>
    Дата и время создания сайта:
    <time datetime="13:38">13:38</time>
    <time datetime="2024-09-18">18 сентября</time>
{% endblock %}