{% extends 'main/layout.html' %}

{% block content %}
<form enctype="multipart/form-data">
    <div class="features">
        <h1>Главная страница</h1>
        <img src="static/main/img/logo.png" alt="Logo">
        <img src="static/main/img/banner1.jpg" alt="banner1">

        <h4>Ветеринарная клиника Друг в Минске </h4>

        <h1 translate="yes">{{ lastest_article.title }}</h1>
        <p><strong>Анонс:</strong> {{ lastest_article.anons }}</p>
        <p><strong>Полный текст:</strong> {{ lastest_article.full_text }}</p>
        <p><strong>Дата публикации:</strong> {{ lastest_article.public_date }}</p>

        <h2>Список услуг</h2>
        <ul>
            {% for service in services %}
            <li>
                <a href="{% url 'service_detail' service.id %}">{{ service.name }} - {{ service.cost }} руб.</a>
            </li>
            {% endfor %}
        </ul>
        <h2>Компании-партнеры</h2>
        <table>
            <thead>
                <tr>
                    <th>Логотип</th>
                    <th>Название</th>
                    <th>Сайт</th>
                </tr>
            </thead>
            <tbody>
                {% for partner in partners %}
                    <tr>
                        <td><img src="{{ partner.logo.url }}" alt="{{ partner.name }}" style="max-width: 100px;"></td>
                        <td>{{ partner.name }}</td>
                        <td><a href="{{ partner.website }}">{{ partner.website }}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Нет партнеров.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}