{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
<link rel="stylesheet" href="{% static 'main/css/animation.css' %}">
<link rel="stylesheet" href="{% static 'main/css/scroll_animation.css' %}">
<script src="static/main/js/index.js"></script>
    <section id="scroll-animation">
  <img src="static/main/img/scroll_left.png" id="image-left" />
  <img src="static/main/img/scroll_right.png" id="image-right" />
</section>

<script src="{% static 'main/js/scroll_animation.js' %}"></script>
<style>
        #square {
            width: 50px;
            height: 50px;
            background-color: blue;
        }
    </style>
    <div id="square"></div>
    <script>
        const square = document.getElementById("square");

        // Определяем кадры анимации
        const frames = [
            {
                transform: "translate(0, 0) scale(1)",
                backgroundColor: "blue",
                borderRadius: "0%",
                offset: 0
            },
            {
                transform: "translate(100px, 100px) scale(1.5)",
                backgroundColor: "green",
                borderRadius: "25%",
                offset: 0.3
            },
            {
                transform: "translate(200px, 0) scale(2)",
                backgroundColor: "orange",
                borderRadius: "50%",
                offset: 0.6
            },
            {
                transform: "translate(0, 0) scale(1)",
                backgroundColor: "red",
                borderRadius: "0%",
                offset: 1
            }
        ];

        // Параметры анимации
        const config = {
            duration: 2000,          // Время анимации
            easing: "ease-in-out",   // Поведение анимации
            delay: 0,                // Задержка
            iterations: Infinity,    // Бесконечное повторение
            direction: "alternate",  // Альтернативное направление
            fill: "forwards"         // Заполнение
        };

        // Выполняем анимацию
        square.animate(frames, config);
    </script>


<h1 class="main_page">Главная страница</h1>
<section class="photo-slider">
    <div class="slider-container">
      <div class="pagination" id="pagination"></div>

      <div class="slider">
        <div class="slide" data-url="https://www.facebook.com" style="display: block">
          <img class="banner1" src="static/main/img/banner1.jpg" alt="banner1">
          <div class="caption">Баннер 1</div>
        </div>
        <div class="slide" data-url="https://www.twitter.com">
          <img class="banner2" src="static/main/img/banner2.jpg" alt="banner1">
          <div class="caption">Баннер 2</div>
        </div>
        <div class="slide" data-url="https://www.instagram.com">
          <img class="banner3" src="static/main/img/banner3.jpg" alt="banner1">
          <div class="caption">Баннер 3</div>
        </div>
          <p></p>
        <div style="display: flex; align-items: center;">
            <div class="clickable-zone prev-zone">
                <button class="arrow left-arrow">&lt; </button>
            </div>
            <div class="slide-counter" id="slide-counter"> 1/3 </div>
            <div class="clickable-zone next-zone">
                <button class="arrow right-arrow"> &gt;</button>
            </div>
        </div>

      </div>

      <form id="interval-form" class="interval-form">
        <label for="rotation-interval">Интервал ротации (мс):</label>
        <input
          type="number"
          id="rotation-interval"
          name="rotation-interval"
          value="3000"
          min="1000"
        />
        <button type="button" onclick="slider.updateInterval()">Изменить</button>
      </form>
    </div>
  </section>

<img src="static/main/img/logo.png" alt="Logo">
<br><br><br><br>

<!-- Контейнер для анимации в начале страницы -->
<div class="animation-container">
    <div class="scene">
        <!-- Собака с грустным ртом и хвостом -->
        <div class="dog">
            <img src="static/main/img/animation/happy_dog.png" alt="Грустная собака" class="dog-body">
            <img src="static/main/img/animation/sad_smile.png" alt="Грустный рот собаки" class="sad-smile">
            <img src="static/main/img/animation/tail_new.png" alt="Хвост собаки" class="tail">
        </div>

        <!-- Кот с грустным ртом -->
        <div class="cat">
            <img src="static/main/img/animation/happy_cat_new.png" alt="Грустный кот" class="cat-body">
            <!--<img src="sad_smile.png" alt="Грустный рот кота" class="sad-smile">-->
        </div>

        <!-- Ветеринар с отдельной рукой -->
        <div class="doctor">
            <img src="static/main/img/animation/doctor_new.png" alt="Ветеринар" class="doctor-body">
            <img src="static/main/img/animation/hand_new.png" alt="Рука ветеринара" class="doctor-hand">
        </div>
    </div>
</div>

<form enctype="multipart/form-data">
    <label>
    <input type="checkbox" id="customization-toggle" />
    Включить настройки оформления
  </label>

    <h1>Проверка возраста и день недели</h1>

  <label for="birthdate">Введите дату рождения:</label>
  <input type="date" id="birthdate" />

  <button id="checkAgeBtn">Проверить</button>

  <div id="result"></div>

  <!-- Блок настроек -->
  <div id="customization-panel" style="display: none">
    <label>
      Размер шрифта:
      <input type="range" id="font-size-slider" min="12" max="24" value="16" />
    </label>
    <label>
      Цвет текста:
      <input type="color" id="text-color-picker" value="#e0e0e0" />
    </label>
    <label>
      Цвет фона:
      <input type="color" id="background-color-picker" value="#121212" />
    </label>
  </div>

    <div class="features">
        <h4>Ветеринарная клиника Друг в Минске </h4>

        <div class="article">
            <h1 translate="yes">{{ lastest_article.title }}</h1>
            <p><strong>Анонс:</strong> {{ lastest_article.anons }}</p>
            <p><strong>Полный текст:</strong> {{ lastest_article.full_text }}</p>
            <p><strong>Дата публикации:</strong> {{ lastest_article.public_date }}</p>
        </div>
        <h2>Список услуг</h2>
        <ul>
            {% for service in services %}
            <li>
                <a class="service_detail" href="{% url 'service_detail' service.id %}">{{ service.name }} - {{ service.cost }} руб.</a>
            </li>
            {% endfor %}
        </ul>
        <div class="partners">
        <h2>Компании-партнеры</h2>
        <table>
            <thead>
                <tr>
                    <th>Логотип</th>
                    <th>Название</th>
                    <th>Сайт</th>
                </tr>
            </thead>
            <tbody>
                {% for partner in partners %}
                    <tr>
                        <td><img src="{{ partner.logo.url }}" alt="{{ partner.name }}" style="max-width: 100px;"></td>
                        <td>{{ partner.name }}</td>
                        <td><a href="{{ partner.website }}">{{ partner.website }}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Нет партнеров.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <br><br><br>
        <div class="humster">
            <img src="static/main/img/animation/without_humster.png" alt="Кольцо"  class="wheel-img">
            <img src="static/main/img/animation/only_humster.png" alt="Хомяк" class="hamster-img" >
        </div>
        <br>
    </div>
</form>
<script src="static/main/js/check_age.js"></script>
<script src="static/main/js/4task_change_color_text_bg.js"></script>
{% endblock %}
