{% load static %}
<html lang="ru">
<head>
    <base target="_self">
    <meta charset="UTF-8">
    <meta   name="author"
            content="Veronika Yarmak">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'main/icons/icon.png' %}" type="image/x-icon" />
</head>
<body>
<address>Created by Yarmak Veronika 253503</address>
            <fieldset title="Nav">
            <legend><h3>Навигация</h3></legend>
        <nav>
            {% if user.is_authenticated %}
                <span class="last"> {{user.username}} | <a href="{% url 'users:logout' %} ">Выйти</a></span>
            {% else %}
                <span class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:preregistration' %}">Регистрация</a></span>
            {% endif %}
            <br>
            <span><a href="{% url 'home' %}"><i class="fas fa-home"></i>Главная</a></span>
            <span> | <a href="{% url 'about' %}"><i class="fas fa-address-card"></i>О компании</a></span>
            <span> | <a href="{% url 'news_home' %}"><i class="fas fa-paper-plane"></i>Новости</a></span>
            {% if user.is_staff %}
                <span> | <a href="{% url 'doctors_schedule' %}">Расписание</a></span>
            {% else %}
                <span> | <a href="{% url 'clients_home' %}">Питомцы</a></span>
                <span> | <a href="{% url 'order_list' %}">Корзина заказов</a></span>
            {% endif %}
            <span> | <a href="{% url 'service_list' %}">Услуги</a></span>
            <span> | <a href="{% url 'questions_list' %}">Словарь терминов и понятий</a></span>
            <span> | <a href="{% url 'users:list_doctors' %}">Контакты</a></span>
            <span> | <a href="{% url 'policy' %}">Политика</a></span>
            <span> | <a href="{% url 'vacancy-list' %}">Вакансии</a></span>
            <span> | <a href="{% url 'reviews-list' %}">Отзывы</a></span>
            <span> | <a href="{% url 'promocode-list' %}">Промокоды и купоны</a></span>
            <span> | <a href="{% url 'statistics' %}">Статистика</a></span>
            <span> | <a href="{% url 'article-index' %}">График</a></span>

        </nav>
            </fieldset>
        <hr color="darkgreen" size="3">
            <nav>
            <li><a href="{% url 'cat_fact' %}">Факты о кошках</a></li>
            <li><a href="{% url 'random_dog' %}">Фотографии собак</a></li>
            </nav>
        <hr color="darkgreen" size="3">
    <main>
        {% block content %}
        {%  endblock %}
    </main>
</body>
<footer>
    <h4>Полезные ссылки:</h4>
    <a href="mailto:veroni.rmk@gmail.com?subject=Вопрос">Вопрос на почту клиники</a> |
    <a href="tel:+375445788672">Активный номер телефона</a> |
    <a download="static/main/img/Sertificate.png" href="static/main/img/Sertificate.png">Ссылка для скачивания сертификатов</a> |
    <a rel="nofollow" target="_blank" href="https://zooshans.by/">Сайт партнеров</a>
    <br>
    <br>
    <div class="container">
        <span class="text-muted">© 2024 Ветеринарная клиника</span>
    </div>
</footer>
</html>