{% extends 'main/layout.html' %}
{% block content %}
    <h4>Политика компании</h4>
    <pre>
        Настоящая Политика конфиденциальности регулирует отношения между компанией ООО «Ветеринарная клиника «Гармония» (ИНН 7451451591) (далее Компания) и физическим или юридическим лицом (далее Клиент) в области предоставления и обработки Персональных данных.

регистрация https://pd.rkn.gov.ru/operators-registry/operators-list/?id=74-21-005718
ФЕДЕРАЛЬНАЯ СЛУЖБА ПО НАДЗОРУ В СФЕРЕ СВЯЗИ, ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ И МАССОВЫХ КОММУНИКАЦИЙ

1. Определения и термины

1.1. Сайт – любой из сайтов Компании, на котором размещена информация о предлагаемых Компанией товарах, маркетинговых акциях и иной информации в сети Интернет.

1.2. Клиент – физическое или юридическое лицо, использующее сайт Компании.

1.3. Персональные данные - информация, относящаяся к определенному Клиенту, указанная в п. 3.1 настоящего Положения.

1.4. Обработка персональных данных – любые операции, совершаемые с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.

1.5. Cookies - фрагменты данных, отправляемых веб-сервером браузеру при посещении сайта Клиентом.

2. Цели и принципы политики конфиденциальности и сбора персональных данных

2.1. Политика конфиденциальности действует в отношении любой указанной в разделе 3 информации, которую Компания может получить о Клиенте во время использования сайта, программ и продуктов сайта.

2.2. Клиент предоставляет свои персональные данные с целью:

- создания учетной записи,
- предоставления технической поддержки, связанной с использованием сайта,
- оформления заказов, уведомления о состоянии заказов, обработки и получения платежей;
- получения новостей, информации о продуктах, мероприятиях, рекламных акциях или услугах;
- участия в рекламных акциях, опросах;
- использования иных имеющихся на сайте сервисов, включая форум, персональные блоги, сервис обмена личными сообщениями между зарегистрированными участниками, персонализированные комментарии и отзывы, но не ограничиваясь ими.

Предоставленные данные могут быть использованы в целях продвижения товаров от имени Компании или от имени партнеров Компании.

2.3. Обеспечение надежности хранения информации и прозрачности целей сбора персональных данных. Персональные данные Клиентов собираются, хранятся, обрабатываются, используются, передаются и удаляются (уничтожаются) в соответствии с законодательством РФ, в т.ч. Федеральным законом 27.07.2006 № 152-ФЗ «О персональных данных», и настоящей Политикой конфиденциальности.

3. Информация, подлежащая обработке

3.1. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Клиентом путём заполнения регистрационной формы на сайте Компании и включают в себя следующую информацию:

3.1.1. ФИО Клиента;

3.1.2. контактный телефон Клиента;

3.1.3. адрес электронной почты (e-mail);

3.1.4. историю заказов.

3.2. Компания также получает данные, которые автоматически передаются в процессе просмотра при посещении сайта, в т. ч.:

3.2.1. IP адрес;

3.2.2. информация из cookies;

3.2.3. информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);

3.2.4. время доступа;

3.2.5. реферер (адрес предыдущей страницы).

4. Обработка и использование персональных данных

4.1. Обработка персональных данных Клиента осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.

4.2. Соглашаясь с настоящей Политикой конфиденциальности Клиент предоставляет Компании свое бессрочное согласие на обработку указанных в разделе 3 персональных данных всеми указанными в настоящей Политике способами, а также передачу указанных данных партнерам Компании для целей исполнения принятых на себя обязательств.

4.3. Компания не вправе передавать информацию о Клиенте неаффилированным лицам или лицам, не связанным с Компанией договорными отношениями.

4.4. Передача информации аффилированным лицам и лицам, которые связаны с Компанией договорными отношениями (курьерские службы, организации почтовой связи и т.д.), осуществляется для исполнения заказа Клиента, а также для возможности информирования Клиента о проводимых акциях, предоставляемых услугах, проводимых мероприятиях.

4.5. Аффилированные лица и лица, связанные с Компанией договорными отношениями, принимают на себя обязательства обеспечивать конфиденциальность информации и гарантировать ее защиту, а также обязуются использовать полученную информацию исключительно для целей исполнения указанных действий или оказания услуг.

4.6. Компания принимает все необходимые меры для защиты персональных данных Клиента от неавторизированного доступа, изменения, раскрытия или уничтожения.

5. Права и обязанности Клиента

5.1. Клиент обязуется не сообщать каким-либо третьим лицам логин и пароль, используемые им для идентификации на сайте Компании.

5.2. Клиент обязуется соблюдать должную осмотрительность при хранении пароля, а также при его вводе.

5.3. Клиент вправе изменять свои личные данные, а также требовать удаление личных данных у Компании.

6. Дополнительные условия

6.1. Соглашаясь с настоящей Политикой конфиденциальности, Клиент предоставляет свое бессрочное согласие на получение информации о состоянии заказов, учетной записи и прочих уведомлений технического характера, а также уведомлений рекламного характера, в том числе о текущих маркетинговых акциях и актуальных предложениях Компании, с помощью различных средств, включая SMS и электронную почту, но не ограничиваясь ими. Клиент может в любое время отказаться от получения такой информации путем изменения данных учетной записи на сайте Компании.

6.2. Компания несет ответственность перед клиентом в случаях, предусмотренных действующим законодательством.

6.3. Компания освобождается от ответственности в случаях, когда информация о Клиенте:

- стала публичным достоянием до её утраты или разглашения.
- была получена от третьей стороны до момента её получения Компанией.
- была разглашена с согласия Клиента.

6.4. Компания вправе вносить изменения в политику конфиденциальности в одностороннем порядке. Изменения вступают в силу с момента их опубликования на сайте Компании.
    </pre>
{% endblock %}