{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'main/css/policy.css' %}">
    <h4>Политика конфиденциальности</h4>
    <div class="privacy-policy">
        <p>
            Настоящая Политика конфиденциальности регулирует отношения между компанией ООО «Ветеринарная клиника «Гармония» (ИНН 7451451591) (далее Компания) и физическим или юридическим лицом (далее Клиент) в области предоставления и обработки Персональных данных.
        </p>
        <p>
            <strong>Регистрация:</strong> <a href="https://pd.rkn.gov.ru/operators-registry/operators-list/?id=74-21-005718" target="_blank">ФЕДЕРАЛЬНАЯ СЛУЖБА ПО НАДЗОРУ В СФЕРЕ СВЯЗИ</a>
        </p>
        <h5>1. Определения и термины</h5>
        <ul>
            <li><strong>Сайт</strong> – любой из сайтов Компании, на котором размещена информация о предлагаемых Компанией товарах, маркетинговых акциях и иной информации в сети Интернет.</li>
            <li><strong>Клиент</strong> – физическое или юридическое лицо, использующее сайт Компании.</li>
            <li><strong>Персональные данные</strong> - информация, относящаяся к определенному Клиенту, указанная в п. 3.1 настоящего Положения.</li>
            <li><strong>Обработка персональных данных</strong> – любые операции, совершаемые с использованием средств автоматизации или без использования таких средств с персональными данными.</li>
            <li><strong>Cookies</strong> - фрагменты данных, отправляемых веб-сервером браузеру при посещении сайта Клиентом.</li>
        </ul>
        <h5>2. Цели и принципы политики конфиденциальности</h5>
        <p>Политика конфиденциальности действует в отношении любой указанной в разделе 3 информации, которую Компания может получить о Клиенте во время использования сайта, программ и продуктов сайта.</p>
        <h5>3. Информация, подлежащая обработке</h5>
        <ol>
            <li>ФИО Клиента;</li>
            <li>контактный телефон Клиента;</li>
            <li>адрес электронной почты (e-mail);</li>
            <li>история заказов.</li>
        </ol>
        <h5>4. Обработка и использование персональных данных</h5>
        <p>Обработка персональных данных Клиента осуществляется без ограничения срока, любым законным способом.</p>
        <h5>5. Права и обязанности Клиента</h5>
        <p>Клиент вправе изменять свои личные данные, а также требовать их удаления у Компании.</p>
        <h5>6. Дополнительные условия</h5>
        <p>Соглашаясь с настоящей Политикой конфиденциальности, Клиент предоставляет свое бессрочное согласие на получение информации о состоянии заказов.</p>

    </div>
{% endblock %}
