{% extends 'main/layout.html' %}

{% block content %}
  <h2>Вопросы и Ответы</h2>
  <div class="questions">
    {% for question in questions %}
      <div class="question">
        <b><i>{{ question.question }}</i></b>
        <small>Добавлено: {{ question.date_added|date:"Y-m-d H:i" }}</small>
        <br>
        <!--<a href="{% url 'question_detail' question.id %}">Читать ответ</a>-->
        <details>
          <summary><i>Читать ответ</i></summary>
          <p>{{ question.answer }}</p>
        </details>

      </div>
    {% empty %}
      <p>Вопросов пока нет.</p>
    {% endfor %}
  </div>
{% endblock %}