{% extends 'main/layout.html' %}

{% block content %}
  <h2>Отзывы пользователей</h2>
  <div class="reviews">
      <pre>
       <a href="{% url 'add_review' %}">Добавить отзыв</a>
    </pre>
    {% for review in reviews %}
    <hr>
    <br>
      <div class="review">
        <strong>Пользователь:</strong> {{ review.user.username }}<br>
        <strong>Рейтинг:</strong> {{ review.rating }}<br>
        <strong>Отзыв:</strong> {{ review.text }}<br>
        <strong>Дата:</strong> {{ review.date }}
      </div>
    {% empty %}
      <p>Отзывов пока нет.</p>
    {% endfor %}
  </div>
{% endblock %}
