{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Новости на сайте{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}">
<form enctype="multipart/form-data">
    <h1>Новости на сайте</h1>
    <div class="features">
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning article-card">
                    <h3>{{ el.title }}</h3>
                    <p class="anons">{{ el.anons }}</p>
                    <img src="{{ el.image.url }}" alt="Изображение статьи">
                    <br>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Пока что новостей нет!!!</p>
        {% endif %}

        {% if user.is_staff %}
        <p><a href="{% url 'create' %}"><button class="btn-info">Добавить запись</button></a></p>
        {% endif %}
    </div>
</form>
{% endblock %}
