{% extends 'main/layout.html' %}
<title>{% block title %}Питомцы | Добавление{% endblock %}</title>
{% block content %}
<body>
    <form method="POST" autocomplete="on" name="Pets">
        {% csrf_token %}
        <fieldset title="add pet">
            <legend><h2>Добавление питомца</h2></legend>
        <p>
            <label>Введите имя питомца</label>
            <input required type="text" name="name" autofocus placeholder="Имя"
            maxlength="20"></input>
        </p>
        <p>
            <label>Введите вид питомца</label>
            <input required type="text" name="species" placeholder="Вид"
            maxlength="20">
        </p>
        <p>
            <label>Введите возраст питомца</label>
            <input required type="number" min="0" max="35" name="age" placeholder="Возраст">
        </p>
        <p>
            <label>Пол:</label><br>
            <input type="radio" name="gender" value="M" id="male">
            <label for="male">Мужской</label><br>
            <input type="radio" name="gender" value="F" id="female">
            <label for="female">Женский</label><br>
            <input type="radio" name="gender" value="O" id="other" checked>
            <label for="other">Не указан</label>
        </p>
        <p>Color:&nbsp;<input type="color" name="color"><br></p>
        <p><textarea name="descr" cols="45" rows="10" maxlength="200" placeholder="Расскажите о своем питомце"></textarea></p>
        <p>Опишите своего любимца одним словом:
        <datalist id="character">
            <option value="Игривый"></option>
            <option value="Лежебока"></option>
            <option value="Общительный"></option>
        </datalist>
        <input list="character" id="char" name="char"></p>
        <input type="submit" value="Сохранить">
        <input type="reset" value="Очистить">
        </fieldset>
    </form>
</body>
{% endblock %}